grammar Downcase

  rule text
    ( sms / quoted / comment / unquoted )* <Text>
  end

  rule comment
    '!' [^\n]* <Delete>
  end

  rule quoted
    ( '"' [^"]* '"' / "'" [^']* "'" )+ <Verbatim>
  end

  rule sms
    '!' [sS] [mM] [sS] '$' <Downcase>
  end

  rule unquoted
    [^'"!]+ <Downcase>
  end

end
