grammar Downcase

  rule text
    ( sms / quoted_text / comment / unquoted_text )* <Text>
  end

  rule comment
    '!' [^\n]* <Comment>
  end

  rule quoted_text
    ( '"' [^"]* '"' / "'" [^']* "'" )+ <QuotedText>
  end

  rule sms
    '!' [sS] [mM] [sS] '$' <SMS>
  end

  rule unquoted_text
    [^'"!]+ <UnquotedText>
  end

end
