grammar Normalize

  rule text
    ( sms / directive / comment / quoted / unquoted )* <Text>
  end

  rule comment
    "!" [^\n]* <Delete>
  end

  rule directive
    "@" [^\n]* <Verbatim>
  end

  rule quoted
    ( '"' [^"]* '"' / "'" [^']* "'" )+ <Verbatim>
  end

  rule sms
    "@" [^\n]* <Verbatim> # <SMS> & normalize for parsing
  end

  rule unquoted
    [^'"!@]+ <Normalize>
  end

end

# paul.a.madden@noaa.gov
