grammar Normalizer

  rule text
    ( directive / comment / quoted / unquoted )* <Text>
  end

  rule comment
    "(![^\n]*\n)+"ir <Comment>
  end

  rule directive
    "@[^\n]+\n"ir <Directive>
  end

  rule quoted
    "((\"[^\"]*\")|(\'[^\']*\'))+"ir <Quoted>
  end

  rule unquoted
    "[^\'\"!@]+"ir <Unquoted>
  end

end
