grammar Normalize

  rule text
    ( sms / directive / comment / quoted / unquoted )* <Text>
  end

  rule comment
    '!' [^\n]* <Delete>
  end

  rule directive
    sms
  end

  rule quoted
    ( '"' [^"]* '"' / "'" [^']* "'" )+ <Verbatim>
  end

  rule sms
    '!' [sS] [mM] [sS] '$' <Normalize>
  end

  rule unquoted
    [^'"!]+ <Normalize>
  end

end

# paul.a.madden@noaa.gov
