grammar Normalizer

  rule text
    ( sms / omp / directive / comment / quoted / unquoted )* <Text>
  end

  rule omp
    "@[$]omp[^\'\"\n]*"ir <OMP>
  end

  rule sms
    "@sms[$][^\'\"\n]*"ir <SMS>
  end

end
