 zzz =            3
 zzz =            2
 zzz =            1
 zzz =            1
 LAWYERS_1 = <Jones & Clay & Davis>
 LAWYERS_2 = <Jones! &! Clay! &! Davis!>
 LAWYERS_4 = <Jones & Clay & Davis>
 LAWYERS_5 = <Jones & Clay & Davis>
 LAWYERS_6 = <Jones & 'Clay' & Davis>
 LAWYERS_7 = <Jones & ""Clay"" & Davis>
 LAWYERS_8 = <Jones & "Clay" & Davis>
 LAWYERS_9 = <Jones & ''Clay'' & Davis>
 LAWYERS_10 = <Jones & Clay &  Davis>
 LAWYERS_11 = <Jones & Clay & Davis>
 LAWYERS_12 = <Jones & Clay & Davis>
 LAWYERS_13 = <<Jones & Clay & Davis>>
 LAWYERS_14 = <Jones & 'Clay' & Davis>
 LAWYERS_15 = <Jones & 'Clay' & Davis>
